$color--main: #58e1c1;
$color--default: #51ddfc;
$color--success: #63cc82;
$color--error: #e4757a;
$color--warning: #fd7856;
$color--info: #927bc1;

$color--copy: #818181;
$color--link: $color--default;


$color--col-12: #80e8d1;
$color--col-6: #3fabca;
$color--col-4: #7ee6fd;
$color--col-3: #deb2ee;
$color--col-5: #88d9a0;
$color--col-7: #ec9fa3;
$color--col-8: #fd9f85;



$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$breakpoints: (
    'md': 769px
);
